*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: #cdff00;
    width: 100%;
    height: 12vh;
}

body{
    background-color: #1b1b1b;
}

img#logo{
    width: 8vw;
    height: 12vh;
    left: 0.5vw;
    bottom: 1px;
    position: relative;
}

#inicio{
    position: relative;
    left: 35vw;
    bottom: 9vh;
    height: 8vh;
    width: 6vw;
    border: 0;
    background-color: #cdff00;
    color: #000000;
    font-size: 4vh;
    user-select: none;
    cursor: pointer;
}

#favoritos{
    position: relative;
    left: 43vw;
    bottom: 9vh;
    height: 7vh;
    width: 6vw;
    border: 0;
    background-color: #cdff00;
    color: #000000;
    font-size: 4vh;
    margin: auto;
    user-select: none;
    cursor: pointer;
}

#pesquisa{
    position: relative;
    left: 54vw;
    bottom: 9.5vh;
    width: 17vw;
    height: 4vh;
    border: solid 1.5px #1b1b1b;
    border-radius: 10px;
    background-color: #fff;
    padding-left: 10px;
    outline: 0;
}

#pesquisa::placeholder{
    position: relative;
    left: 10px;
    font-size: 1.7vh;
}

.d-flex{
    position: relative !important;
    height: 4vh !important;
    width: 6vw !important;
    bottom: 14.4vh !important;
    left: 85vw !important;
    background-color: #fff !important;
}

.form-check-input{
   background-color: #000000 !important;
   position: relative !important;
   left: 40vw !important;
   top: 90vw !important;
}

.card-foto{
    width: 20rem;
    height: 30rem;
    position: relative;
    top: 2vh;
}

#filmes{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2rem;

}

img.card-img-top{
    height: 85%;
    width: 100%;
}

#btnBuscar{
    width: 110vw;
}

.card{
    width: 20vw;
    height: 70vh;
    float: left;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 70px;
}

#lista-filme{
    position: relative;
    display: flex;
    padding-left: 3vw;
    float: left;
    flex-wrap: wrap;
}

.card-body{
    height: 17vh;
    padding: 0;
}

h5.card-title{
    height: 4vh;
    padding: none;
    margin: none;
}

.btnDetalhesFilme{
    background-color: #fff;
    margin-bottom: 1vh;
    top:10%;
    width: 6vw;
}

.card2{
    width: 25vw;
    height: 85vh;
    margin-top: 3%;
    margin-left: 12%;
}

.card-body2{
    background-color: #fff;
    position: relative;
    left: 27vw;
    width: 50vw;
    bottom: 74vh;
    height: 72vh;
}

h2.informacao{
    margin-left: 1vw ;
    margin-top: 2vh;
}

h4.informacao{
    margin-top: 4vh;
    margin-left: 1vw ;
}

.divFav{
    position: relative;
    bottom: 2vh;
}

#btnsalvar{
    margin-top: 3vh;
    margin-right: 1vw;
    margin-left: 2vw ;
    height: 4vh;
    width: 8vw;
    background-color: #fff;
    border-color:  #1b1b1b;
    border-radius: 5px;
}

#btnfechar{
    margin-top: 3vh;
    margin-right: 1vw;
    margin-left: 2vw ;
    height: 4vh;
    width: 8vw;
    background-color: #fff;
    border-color:  #1b1b1b;
    border-radius: 5px;
}

#btndesfavoritar{
    margin-top: 3vh;
    margin-right: 1vw;
    margin-left: 2vw ;
    height: 4vh;
    width: 8vw;
    background-color: #fff;
    border-color:  #1b1b1b;
    border-radius: 5px;
}

@media only screen and (max-width: 392px)
{
    .header{
        background-color: #cdff00;
        width: 109%;
        height: 12vh;
    }  

    img#logo{
        width: 30vw;
        height: 12vh;
        left: 0.5vw;
        bottom: 1px;
        position: relative;
    }


    .card-foto{
        width: 40rem;
        height: 30rem;
        position: relative;
        top: 2vh;
    }

    .card{
    width: 84vw;
    height: 75vh;
    float: left;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 70px;
    }

    #btnBuscar{
        width: 10vw;
    }

    .btnDetalhesFilme{
    background-color: #fff;
    margin-bottom: 1vh;
    top: 2vh;
    left: 26vw;
    width: 29vw;
    height: 5vh;
    position: relative;
    }

    .card-body2 {
        background-color: #fff;
        position: relative;
        left: 1vw;
        width: 96vw;
        top: 2vh;
        height: 87vh;
    }

    .card2 {
        width: 96vw;
        height: 85vh;
        margin-top: 3%;
        margin-left: 4vw;
    }

    #btnsalvar {
        margin-top: 1vh;
        margin-right: 1vw;
        margin-left: 1vw;
        height: 4vh;
        width: 30vw;
        background-color: #fff;
        border-color: #1b1b1b;
        border-radius: 5px;
    }

    #btnfechar {
        margin-top: 3vh;
        margin-right: 1vw;
        margin-left: 2vw;
        height: 4vh;
        width: 30vw;
        background-color: #fff;
        border-color: #1b1b1b;
        border-radius: 5px;
     }

     #btndesfavoritar {
        margin-top: 3vh;
        margin-right: 1vw;
        margin-left: 2vw;
        height: 4vh;
        width: 30vw;
        background-color: #fff;
        border-color: #1b1b1b;
        border-radius: 5px;
    }
}

